<nav>
    <!-- left-side -->
    <div>
        <div>
            <img src="/frontend/src/public/red-bus-with-word-bus-it_600323-482.avif" alt="TedBus logo">
        </div>
        <div></div>
        <div>
            <a>
                <svg>

                </svg>
                <p>Bus Ticket</p>
            </a>
            <a>
                <svg>

                </svg>
                <p>Cab Rental</p>
            </a>
            <a>
                <svg>

                </svg>
                <p>Train Tickets</p>
            </a>
        </div>
    </div>
    <!-- navbar_rightcolumn -->
     <div>
        <a>
            <i></i>
            <p>Help</p>
        </a>
        <button>
            <i></i>
            <p>Account</p>
            <i></i>
        </button>
     </div>
</nav>