.proceedButton {
    width: 100%;
    height: 40px;
    padding: 6px 39px 7px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    border: none;
    text-align: center;
    background-color: #d84e55;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}

.form-container {
    width: 100%;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 1000;
}